Repository mathieugagne/shoe-store: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests, prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

add prototype link
  README.md
Due: prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

add styled-components, redux, boilerplate and basic navigation
  .eslintrc
  README.md
  package.json
  src/App.css
  src/App.js
  src/GlobalStyle.js
  src/Routes.js
  src/assets/logo-white.svg
  src/index.css
  src/index.js
  src/libs/history.js
  src/logo.svg
  src/modules/app/AppRoutes.js
  src/modules/app/components/BaseTemplate.js
  src/modules/app/components/Breadcrumb.js
  src/modules/app/components/Navigation/Navigation.js
  src/modules/app/components/Navigation/NavigationLink.js
  src/modules/app/components/Navigation/index.js
  src/modules/app/components/TopBar.js
  src/modules/app/hocs/withBreadcrumb.js
  src/modules/app/pages/Error404.js
  src/modules/app/pages/Overview.js
  src/modules/app/state/appActions.js
  src/modules/app/state/appReducer.js
  src/modules/notification/NotificationRoutes.js
  src/modules/notification/pages/NotificationBrowse.js
  src/modules/shoe/ShoeRoutes.js
  src/modules/shoe/pages/ShoeBrowse.js
  src/modules/store/StoreRoutes.js
  src/modules/store/pages/StoreBrowse.js
  src/rootReducer.js
  src/store.js
  src/theme.js
  yarn.lock
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests, prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

add a simple graphql endpoint with express
  api/adapters/http/graphql/createResolver.js
  api/adapters/http/graphql/index.js
  api/adapters/http/graphql/shoe/resolvers.js
  api/adapters/http/graphql/shoe/types.js
  api/adapters/http/graphql/store/resolvers.js
  api/adapters/http/graphql/store/types.js
  api/adapters/http/index.js
  api/db/actions/shoe/browse.js
  api/db/actions/store/browse.js
  api/db/data/shoes.json
  api/db/data/stores.json
  api/domain/shoe/browse.js
  api/domain/store/browse.js
  api/index.js
  api/libs/DTO/DTO.js
  api/libs/DTO/Principal.js
  api/libs/DTO/Request.js
  api/libs/DTO/Response.js
  api/libs/DTO/index.js
  package.json
  src/setupProxy.js
  yarn.lock
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests, prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

API: add persistance, keep track of inventory changes (websocket), add some new query (graphql)
  .gitignore
  api/adapters/http/graphql/createResolver.js
  api/adapters/http/graphql/inventory/resolvers.js
  api/adapters/http/graphql/inventory/types.js
  api/adapters/http/graphql/shoe/types.js
  api/adapters/http/graphql/store/types.js
  api/adapters/ws/createEventHandler.js
  api/adapters/ws/index.js
  api/db/actions/inventory/browse.js
  api/db/actions/inventory/browseLog.js
  api/db/actions/inventory/logUpdate.js
  api/db/actions/inventory/read.js
  api/db/actions/inventory/sold.js
  api/db/actions/inventory/updateQuantity.js
  api/db/actions/shoe/browse.js
  api/db/actions/store/browse.js
  api/db/data/shoes.json
  api/db/data/stores.json
  api/db/index.js
  api/db/seeds/index.js
  api/db/seeds/inventory.json
  api/db/seeds/shoes.json
  api/db/seeds/stores.json
  api/domain/inventory/browse.js
  api/domain/inventory/browseLog.js
  api/domain/inventory/read.js
  api/domain/inventory/update.js
  api/index.js
  api/libs/helpers/extractFromPayload.js
  inventory.rb
  package.json
  yarn.lock
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests, prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

add small comments
  README.md
  api/adapters/ws/index.js
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests, prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

populate reducers with data from the api
  package.json
  src/App.js
  src/InitialLoading.js
  src/libs/graphqlCall.js
  src/modules/app/hocs/injectBreadcrumb.js
  src/modules/app/pages/Error404.js
  src/modules/app/pages/Overview.js
  src/modules/inventory/state/inventoryActions.js
  src/modules/inventory/state/inventoryEpics.js
  src/modules/inventory/state/inventoryReducer.js
  src/modules/notification/pages/NotificationBrowse.js
  src/modules/shoe/pages/ShoeBrowse.js
  src/modules/shoe/state/shoeActions.js
  src/modules/shoe/state/shoeEpics.js
  src/modules/shoe/state/shoeReducer.js
  src/modules/store/pages/StoreBrowse.js
  src/modules/store/state/storeActions.js
  src/modules/store/state/storeEpics.js
  src/modules/store/state/storeReducer.js
  src/rootEpics.js
  src/rootReducer.js
  src/store.js
  yarn.lock
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests, prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

frontend listen for websocket changes, run both adapter at the same time, add selectors and add browse store page
  README.md
  api/adapters/ws/index.js
  api/index.js
  package.json
  src/GlobalStyle.js
  src/libs/observables/graphqlCall.js
  src/modules/app/components/BaseTemplate.js
  src/modules/inventory/state/inventoryActions.js
  src/modules/inventory/state/inventoryEpics.js
  src/modules/inventory/state/inventoryReducer.js
  src/modules/inventory/state/inventorySelectors.js
  src/modules/shoe/state/shoeEpics.js
  src/modules/shoe/state/shoeSelectors.js
  src/modules/store/StoreRoutes.js
  src/modules/store/components/StoreCard.js
  src/modules/store/pages/StoreBrowse.js
  src/modules/store/pages/StoreRead.js
  src/modules/store/state/storeEpics.js
  src/modules/store/state/storeReducer.js
  src/modules/store/state/storeSelectors.js
  yarn.lock
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests, prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

add table with ordering, overview metrics, add change log to the reducer and more
  .gitignore
  api/adapters/http/graphql/inventory/types.js
  api/db/actions/inventory/logUpdate.js
  api/db/seeds/index.js
  package.json
  src/GlobalStyle.js
  src/InitialLoading.js
  src/modules/app/AppRoutes.js
  src/modules/app/components/Breadcrumb.js
  src/modules/app/components/Table.js
  src/modules/app/components/TableCell.js
  src/modules/app/components/TableHeader.js
  src/modules/app/components/TableRow.js
  src/modules/app/pages/Overview.js
  src/modules/app/pages/OverviewPage.js
  src/modules/app/state/appActions.js
  src/modules/app/state/appReducer.js
  src/modules/app/state/appSelectors.js
  src/modules/inventory/components/InventoryChangeLogTable.js
  src/modules/inventory/components/ShoeWithBiggestInventoryTable.js
  src/modules/inventory/components/StoreInventoryTable.js
  src/modules/inventory/components/StoreWithLowestInventoryTable.js
  src/modules/inventory/state/inventoryActions.js
  src/modules/inventory/state/inventoryEpics.js
  src/modules/inventory/state/inventoryReducer.js
  src/modules/inventory/state/inventorySelectors.js
  src/modules/store/components/StoreCard.js
  src/modules/store/pages/StoreRead.js
  src/theme.js
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests, prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

add realtime sales graph, begin integrating notifications and more (I should probably do smaller commits)
  package.json
  src/modules/app/components/MetricCard.js
  src/modules/app/components/Navigation/Navigation.js
  src/modules/app/components/Navigation/NavigationLink.js
  src/modules/app/components/RealtimeLineChart.js
  src/modules/app/components/TableHeader.js
  src/modules/app/components/TableRow.js
  src/modules/app/components/TopBar.js
  src/modules/app/pages/OverviewPage.js
  src/modules/inventory/components/InventoryChangeLogTable.js
  src/modules/inventory/components/RealtimeNumberOfSalesChart.js
  src/modules/inventory/components/ShoeWithBiggestInventoryTable.js
  src/modules/inventory/components/StoreInventoryTable.js
  src/modules/inventory/components/StoreWithLowestInventoryTable.js
  src/modules/inventory/inventoryConstants.js
  src/modules/inventory/state/inventoryActions.js
  src/modules/inventory/state/inventoryEpics.js
  src/modules/inventory/state/inventoryReducer.js
  src/modules/inventory/state/inventorySelectors.js
  src/modules/notification/components/Notification.js
  src/modules/notification/components/NotificationBullet.js
  src/modules/notification/notificationConstants.js
  src/modules/notification/pages/NotificationBrowse.js
  src/modules/notification/state/notificationActions.js
  src/modules/notification/state/notificationEpics.js
  src/modules/notification/state/notificationReducer.js
  src/modules/notification/state/notificationSelectors.js
  src/modules/shoe/ShoeRoutes.js
  src/modules/shoe/components/ShoeCard.js
  src/modules/shoe/components/ShoeLink.js
  src/modules/shoe/pages/ShoeBrowse.js
  src/modules/shoe/pages/ShoeRead.js
  src/modules/shoe/state/shoeReducer.js
  src/modules/store/components/StoreCard.js
  src/modules/store/components/StoreLink.js
  src/modules/store/state/storeSelectors.js
  src/rootEpics.js
  src/rootReducer.js
  src/store.js
  yarn.lock
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests, prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

add notifications stack, add notification styles, did some clean up and more
  package.json
  src/assets/breadcrumb-back-arrow.svg
  src/libs/omitProps.js
  src/modules/app/components/BaseTemplate.js
  src/modules/app/components/Breadcrumb.js
  src/modules/app/components/Empty.js
  src/modules/app/components/TopBar.js
  src/modules/app/pages/OverviewPage.js
  src/modules/app/state/appSelectors.js
  src/modules/inventory/components/InventoryChangeLogTable.js
  src/modules/inventory/components/ShoeWithBiggestInventoryTable.js
  src/modules/inventory/components/StoreInventoryTable.js
  src/modules/inventory/components/StoreWithLowestInventoryTable.js
  src/modules/inventory/state/inventoryActions.js
  src/modules/inventory/state/inventorySelectors.js
  src/modules/notification/components/Notification.js
  src/modules/notification/components/NotificationStack.js
  src/modules/notification/components/StackedNotification.js
  src/modules/notification/pages/NotificationBrowse.js
  src/modules/notification/state/notificationActions.js
  src/modules/notification/state/notificationEpics.js
  src/modules/notification/state/notificationReducer.js
  src/modules/notification/state/notificationSelectors.js
  src/modules/shoe/pages/ShoeBrowse.js
  src/modules/shoe/pages/ShoeRead.js
  src/modules/store/pages/StoreBrowse.js
  src/modules/store/pages/StoreRead.js
  src/theme.js
  yarn.lock
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests, prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

use styled-components/macro
  README.md
  package.json
  src/App.js
  src/GlobalStyle.js
  src/modules/app/components/BaseTemplate.js
  src/modules/app/components/Breadcrumb.js
  src/modules/app/components/Empty.js
  src/modules/app/components/MetricCard.js
  src/modules/app/components/Navigation/Navigation.js
  src/modules/app/components/Navigation/NavigationLink.js
  src/modules/app/components/RealtimeLineChart.js
  src/modules/app/components/Table.js
  src/modules/app/components/TableCell.js
  src/modules/app/components/TableHeader.js
  src/modules/app/components/TableRow.js
  src/modules/app/components/TopBar.js
  src/modules/app/pages/OverviewPage.js
  src/modules/inventory/components/InventoryChangeLogTable.js
  src/modules/inventory/components/RealtimeNumberOfSalesChart.js
  src/modules/notification/components/Notification.js
  src/modules/notification/components/NotificationBullet.js
  src/modules/notification/components/NotificationStack.js
  src/modules/notification/components/StackedNotification.js
  src/modules/shoe/pages/ShoeBrowse.js
  src/modules/store/pages/StoreBrowse.js
  yarn.lock
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests, prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

change meta data
  package.json
  public/index.html
  public/manifest.json
Due: prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

add a couple of tests, extract some logic from the domain
  .eslintrc
  api/adapters/http/graphql/inventory/browse.js
  api/adapters/http/graphql/inventory/browseLog.js
  api/adapters/http/graphql/inventory/read.js
  api/adapters/http/graphql/inventory/resolvers.js
  api/adapters/http/graphql/shoe/browse.js
  api/adapters/http/graphql/shoe/resolvers.js
  api/adapters/http/graphql/store/browse.js
  api/adapters/http/graphql/store/resolvers.js
  api/adapters/ws/events/inventory/update.js
  api/adapters/ws/index.js
  api/domain/inventory/browse.js
  api/domain/inventory/browseLog.js
  api/domain/inventory/read.js
  api/domain/inventory/update.js
  api/domain/shoe/browse.js
  api/domain/store/browse.js
  package.json
  src/modules/inventory/state/inventoryActions.js
  src/modules/inventory/state/inventoryEpics.js
  src/modules/inventory/state/inventoryReducer.js
  src/modules/inventory/state/inventoryReducer.test.js
  src/modules/notification/state/notificationEpics.js
  src/modules/shoe/state/shoeSelectors.test.js
  src/modules/store/pages/StoreRead.js
  src/modules/store/pages/StoreRead.test.js
  src/setupProxy.js
  src/setupTests.js
  yarn.lock
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests, prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

destroy chart on will unmount
  src/modules/app/components/RealtimeLineChart.js
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests

convert ShoeRead to a function component
  src/modules/shoe/pages/ShoeRead.js
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests

Update README.md
  shoe_store_app/README.md
Due: prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

Adding bootstrapp
  shoe_store_app/app/javascript/packs/application.js
  shoe_store_app/app/javascript/stylesheets/application.scss
  shoe_store_app/app/views/layouts/application.html.erb
  shoe_store_app/app/views/stores/index.html.erb
  shoe_store_app/config/webpack/environment.js
  shoe_store_app/package.json
  shoe_store_app/yarn.lock
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests, prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

Adding endpoint to suggest showps tro transfer from (no frontend implementation)
  shoe_store_app/app/controllers/stores_controller.rb
  shoe_store_app/app/javascript/packs/application.js
  shoe_store_app/app/views/stores/index.html.erb
  shoe_store_app/config/initializers/web_socket_client_task.rb
  shoe_store_app/config/routes.rb
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests

set the event loop to receive and send inventory
  .gitignore
  .rubocop.yml
  Gemfile
  Gemfile.lock
  Rakefile
  apps/web/application.rb
  apps/web/assets/javascripts/critical_stock.js.erb
  apps/web/config/routes.rb
  apps/web/controllers/dashboard/index.rb
  apps/web/services/clear_db.rb
  apps/web/services/populate_db.rb
  apps/web/templates/application.html.erb
  apps/web/templates/dashboard/index.html.erb
  apps/web/views/dashboard/index.rb
  client_inventory.rb
  config.ru
  config/boot.rb
  config/environment.rb
  inventory.rb
  lib/shoe_store.rb
  spec/features_helper.rb
  spec/spec_helper.rb
  spec/support/capybara.rb
  spec/support/store.pstore
  spec/web/controllers/dashboard/index_spec.rb
  spec/web/services/populate_db_spec.rb
  spec/web/views/application_layout_spec.rb
  spec/web/views/dashboard/index_spec.rb
Due: prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

create ShoeLine class and extract DB upsert in this class
  .rubocop.yml
  apps/web/services/populate_db.rb
  client_inventory.rb
  lib/shoe_store/entities/shoe_line.rb
  spec/shoe_store/entities/.gitkeep
  spec/shoe_store/mailers/.gitkeep
  spec/shoe_store/repositories/.gitkeep
  spec/web/lib/shoe_store/entities/shoe_spec.rb
  spec/web/services/populate_db_spec.rb
Due: prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

add Timeline inventory alert
  apps/web/assets/javascripts/critical_stock.js.erb
  apps/web/assets/stylesheets/app.css
  apps/web/templates/application.html.erb
  apps/web/templates/dashboard/index.html.erb
  lib/shoe_store/entities/shoe_line.rb
Due: none

add settings to set the inventory limit to show alert
  apps/web/assets/javascripts/critical_stock.js.erb
  apps/web/config/routes.rb
  apps/web/controllers/dashboard/index.rb
  apps/web/controllers/settings/create.rb
  apps/web/controllers/settings/new.rb
  apps/web/services/populate_db.rb
  apps/web/templates/dashboard/index.html.erb
  apps/web/templates/settings/create.html.erb
  apps/web/templates/settings/new.html.erb
  apps/web/views/settings/create.rb
  apps/web/views/settings/new.rb
  config/settings.pstore
  lib/shoe_store/entities/shoe_line.rb
  spec/web/controllers/settings/create_spec.rb
  spec/web/lib/shoe_store/entities/shoe_spec.rb
  spec/web/views/settings/create_spec.rb
  spec/web/views/settings/new_spec.rb
Due: none

add high limit in settings
  apps/web/assets/javascripts/critical_stock.js.erb
  apps/web/assets/javascripts/stock.js.erb
  apps/web/assets/stylesheets/app.css
  apps/web/config/routes.rb
  apps/web/controllers/dashboard/index.rb
  apps/web/controllers/settings/create.rb
  apps/web/controllers/settings/new.rb
  apps/web/services/populate_db.rb
  apps/web/templates/application.html.erb
  apps/web/templates/dashboard/index.html.erb
  apps/web/views/dashboard/index.rb
  apps/web/views/settings/create.rb
  apps/web/views/settings/new.rb
  config/settings.pstore
  spec/web/controllers/settings/create_spec.rb
  spec/web/features/.gitkeep
Due: none

use ajax to update settings
  apps/web/assets/javascripts/settings.js.erb
  apps/web/assets/stylesheets/app.css
  apps/web/controllers/settings/create.rb
  apps/web/templates/application.html.erb
  apps/web/templates/dashboard/index.html.erb
  spec/web/controllers/settings/create_spec.rb
Due: none

add Bunny to notify the dev team when there is an incident
  Gemfile
  Gemfile.lock
  apps/web/assets/javascripts/settings.js.erb
  apps/web/assets/javascripts/stock.js.erb
  apps/web/config/routes.rb
  apps/web/services/publisher.rb
  apps/web/services/rescue_team.rb
  apps/web/templates/application.html.erb
  apps/web/templates/dashboard/index.html.erb
  apps/web/views/settings/new.rb
  client_inventory.rb
  config/environment.rb
  config/settings.pstore
  spec/web/services/publisher_spec.rb
  spec/web/services/rescue_team_spec.rb
  spec/web/views/settings/new_spec.rb
Due: none

add a dashboard to have an overview on critical product and store
  .gitignore
  apps/web/assets/javascripts/stock.js.erb
  apps/web/assets/stylesheets/app.css
  apps/web/config/routes.rb
  apps/web/controllers/dashboard/index.rb
  apps/web/controllers/timeline/index.rb
  apps/web/services/clear_db.rb
  apps/web/services/occurrence_calculator.rb
  apps/web/templates/application.html.erb
  apps/web/templates/dashboard/_timeline.html.erb
  apps/web/templates/dashboard/index.html.erb
  apps/web/templates/timeline/index.html.erb
  apps/web/views/dashboard/index.rb
  apps/web/views/timeline/index.rb
  client_inventory.rb
  data/aldo_auburn_mall.pstore
  data/aldo_burlington_mall.pstore
  data/aldo_centre_eaton.pstore
  data/aldo_crossgates_mall.pstore
  data/aldo_destiny_usa_mall.pstore
  data/aldo_holyoke_mall.pstore
  data/aldo_maine_mall.pstore
  data/aldo_solomon_pond_mall.pstore
  data/aldo_waterloo_premium_outlets.pstore
  data/critical_stock.pstore
  spec/spec_helper.rb
  spec/web/controllers/timeline/index_spec.rb
  spec/web/lib/shoe_store/entities/shoe_spec.rb
  spec/web/services/occurrence_calculator_spec.rb
  spec/web/services/populate_db_spec.rb
  spec/web/views/timeline/index_spec.rb
Due: none

add sales overview
  .gitignore
  Gemfile
  Gemfile.lock
  apps/web/assets/javascripts/livestream.js.erb
  apps/web/assets/javascripts/stock.js.erb
  apps/web/assets/stylesheets/app.css
  apps/web/config/routes.rb
  apps/web/controllers/sales/index.rb
  apps/web/services/occurrence_calculator.rb
  apps/web/services/populate_db.rb
  apps/web/services/sales_calculator.rb
  apps/web/templates/application.html.erb
  apps/web/templates/sales/_best_sales.html.erb
  apps/web/templates/sales/_worst_sales.html.erb
  apps/web/templates/sales/index.html.erb
  apps/web/views/sales/index.rb
  client_inventory.rb
  spec/support/data.pstore
  spec/web/controllers/sales/index_spec.rb
  spec/web/services/populate_db_spec.rb
  spec/web/services/publisher_spec.rb
  spec/web/services/sales_calculator_spec.rb
  spec/web/views/sales/index_spec.rb
Due: none

rescue the error when rabbitMq is not started and when websocket receive an error message
  apps/web/services/rescue_team.rb
  client_inventory.rb
  data/aldo_crossgates_mall.pstore
  data/critical_stock.pstore
Due: none

display best sales/biggest seller and refactore the view
  apps/web/assets/stylesheets/app.css
  apps/web/config/routes.rb
  apps/web/controllers/dashboard/index.rb
  apps/web/controllers/sales/index.rb
  apps/web/services/inventory_calculator.rb
  apps/web/services/rescue_team.rb
  apps/web/templates/dashboard/_timeline.html.erb
  apps/web/templates/dashboard/index.html.erb
  apps/web/templates/sales/_high_level.html.erb
  apps/web/templates/sales/_low_level.html.erb
  apps/web/templates/sales/index.html.erb
  apps/web/views/sales/index.rb
  spec/web/services/sales_calculator_spec.rb
Due: none

add a DataFilter to avoid duplication and remove useless files
  apps/web/config/routes.rb
  apps/web/controllers/dashboard/index.rb
  apps/web/controllers/data_filter.rb
  apps/web/controllers/sales/index.rb
  apps/web/controllers/settings/create.rb
  apps/web/controllers/settings/new.rb
  apps/web/services/inventory_calculator.rb
  apps/web/templates/settings/create.html.erb
  apps/web/templates/settings/new.html.erb
  data/aldo_auburn_mall.pstore
  data/aldo_burlington_mall.pstore
  data/aldo_centre_eaton.pstore
  data/aldo_destiny_usa_mall.pstore
  data/aldo_holyoke_mall.pstore
  data/aldo_maine_mall.pstore
  data/aldo_solomon_pond_mall.pstore
  data/critical_stock.pstore
  spec/support/aldo_waterloo_premium_outlets.pstore
  spec/web/lib/shoe_store/entities/shoe_spec.rb
  spec/web/views/settings/create_spec.rb
Due: none

update in realtime data on message
  apps/web/assets/javascripts/alert.js
  apps/web/assets/javascripts/livestream.js
  apps/web/assets/javascripts/sales.js
  apps/web/assets/javascripts/settings.js
  apps/web/assets/javascripts/stock.js
  apps/web/assets/stylesheets/app.css
  apps/web/templates/application.html.erb
  apps/web/templates/dashboard/_timeline.html.erb
  apps/web/templates/dashboard/index.html.erb
  apps/web/templates/sales/_low_level.html.erb
  apps/web/templates/sales/_table.html.erb
  apps/web/templates/sales/index.html.erb
  apps/web/views/dashboard/index.rb
  apps/web/views/sales/index.rb
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests

add alert headband
  apps/web/assets/javascripts/alert.js
  apps/web/assets/javascripts/settings.js
  apps/web/assets/javascripts/stock.js
  apps/web/assets/stylesheets/alert.css
  apps/web/assets/stylesheets/app.css
  apps/web/assets/stylesheets/livestream.css
  apps/web/assets/stylesheets/sales.css
  apps/web/templates/application.html.erb
  apps/web/templates/dashboard/index.html.erb
  apps/web/templates/sales/index.html.erb
  apps/web/templates/timeline/index.html.erb
  apps/web/views/sales/index.rb
  data/critical_stock.pstore
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests

update Readme
  README.md
  apps/web/services/clear_db.rb
  client_inventory.rb
Due: prettier --ignore-path .gitignore --write "**/*.{json,md,yml}"

remove useless db => sqlite3
  .env.development
  .env.test
  Gemfile
  Gemfile.lock
  apps/web/assets/javascripts/settings.js
  apps/web/assets/javascripts/stock.js
  apps/web/templates/settings/create.html.erb
  config/environment.rb
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests

display stores details
  apps/web/assets/javascripts/stock.js
  apps/web/assets/javascripts/store.js
  apps/web/assets/stylesheets/stores.css
  apps/web/config/routes.rb
  apps/web/controllers/stores/index.rb
  apps/web/templates/application.html.erb
  apps/web/templates/stores/index.html.erb
  apps/web/views/stores/index.rb
  config/data.pstore
  data/data.pstore
  spec/web/controllers/stores/index_spec.rb
  spec/web/views/stores/index_spec.rb
Due: eslint --fix --ignore-path .gitignore "**/*.js", prettier --ignore-path .gitignore --write "**/*.js", cross-env CI=true npm run test -- --bail --findRelatedTests

Path conditions:
  eslint --fix --ignore-path .gitignore "**/*.js": any of: *.js
  prettier --ignore-path .gitignore --write "**/*.js": any of: *.js
  cross-env CI=true npm run test -- --bail --findRelatedTests: any of: *.js
  prettier --ignore-path .gitignore --write "**/*.{json,md,yml}": any of: *.{json,md,yml}
